@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  cursor: pointer;
}

.container {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background: white;
  text-align: center;
}

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 12px;
  position: relative;
}

.header-title {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

#search {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#btnMorador,
#btnFuncionario {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(57, 226, 74);
}

.hide {
  display: none;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: rgb(57, 65, 226);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.tab-button:focus {
  outline: none;
}

.divTable {
  padding: 10px;
  width: auto; 
  height: inherit; 
  overflow: auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray; 
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235);
}

th, td {
  text-align: left;
  padding: 10px 0;
}

.acao button {
  font-size: 20px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.acao button i {
  margin-right: 5px;
}

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container.active {
  display: flex;
}

.modal {
  background: white;
  width: 80%;
  max-width: 500px;
  height: center;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal label {
  font-weight: bold;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

.modal button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(57, 226, 74);
  color: white;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: 20px!important;
  }
  
  td button i {
    font-size: 20px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}
.fixed-info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.fixed-info table {
  margin: 0 auto;
}

.fixed-info table td {
  padding: 5px 10px;
}
